@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 5.9% 10%;
    --card-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  html {
    @apply bg-zinc-950;
  }

  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
  }

  input[type="range"] {
    @apply h-2 w-full cursor-pointer appearance-none rounded-full bg-zinc-800 outline-none;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply h-5 w-5 appearance-none rounded-full border-2 border-zinc-950 bg-zinc-100;
  }

  input[type="range"]::-moz-range-thumb {
    @apply h-5 w-5 rounded-full border-2 border-zinc-950 bg-zinc-100;
  }
}
